.ulWidth {
	width: 100%;
}

.h2Space {
	padding-left: 10px;
}

li {
	display: inline;
	list-style: none;
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   .sillyImageSize{
		position: relative;
		width: 30%;
   }
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   .sillyImageSize{
		position: relative;
		width: 45%;
   }
}